
<!-- "authInt.isAuthenticated()" -->


        <button
          class="button"
          routerLink="/">
            Home
        </button>
  
        <button
          class="button"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()">
            Log In
        </button>
  
        <button
          class="button"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
            Log Out
        </button>
  
  
  <main class="container">
    <router-outlet></router-outlet>
  </main>















 

<h1>Popular Cars</h1>
<ul class = "popularcars" >
<li> 
  <a routerLink="/detail/39645">
  <span class="badge">2018</span> Mustang
  </a></li>
<li> 
  <a routerLink="/detail/39596">
  <span class="badge">2018</span> Accord
  </a></li>
<li> <a routerLink="/detail/39058">
  <span class="badge">2018</span> Charger
  </a> </li>
<li> <a routerLink="/detail/39044">
  <span class="badge">2018</span> Challenger
</a> </li>
<li> <a routerLink="/detail/38880">
  <span class="badge">2018</span> Camry
  </a> </li>
<li> <a routerLink="/detail/38816">
  <span class="badge">2018</span> Camaro
  </a> </li>
<li> <a routerLink="/detail/39705">
  <span class="badge">2018</span> BRZ
  </a> </li>
<li> <a routerLink="/detail/39652">
  <span class="badge">2018</span> GT-R
  </a> </li>
</ul>







